*{
    box-sizing:border-box;
}

body{
    background:#4aaaa5;

}
header { 
    height: 100px;

    background: #ffffff;
    text-align: center;
    border: 3px solid #cccccc;
    }

.clearfix::after {
    content: " ";
    display:block;
    clear:both;
}

.container {
    background:#dddddd;
    width: 960px;
    height:360px;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#777777
}

.Contact{
    float:right;
}

.Portfolio {
    float:right;
}

.about{
    float:right;
}

.name {
    color:#ffffff;
    background-color:#4aaaa5;
    width:100px ;
    height:100px ;
    margin-bottom:30px;
}

.about_me {
    color:#4aaaa5;
    float:center;
    width:100%;
    height:960px;
    background-color:#ffffff;
    border: 3px solid #dddddd;
    margin-top:30px;
}

p{
    color:#777777;
}

.p1{
    ;
}

.p2{
    ;
}

.p3{

}